<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First</th>
	      <th scope="col">Last</th>
	      <th scope="col">Handle</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhZisTuWJXr3XPBLK9RrqhA6r1F1Pp7jQh-g&usqp=CAU"></td>
	      <td><a href="/chedder"><button>chedder</button></a></td>
	      <td>@mdo</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhZisTuWJXr3XPBLK9RrqhA6r1F1Pp7jQh-g&usqp=CAU"></td>
	      <td>Thornton</td>
	      <td>@fat</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td colspan="2">Larry the Bird</td>
	      <td>@twitter</td>
	    </tr>
	  </tbody>
	</table>
</body>
</html>