<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style1.css')}}" />
</head>
	<body>
<!-- 	<script src="{{url_for('static', filename='js/script.js')}}"></script> -->
		<section class = red>
			<h1>Cheese NET</h1>
		</section>

		<div class="spacer layer1"></div>

		<section class = orange>
			<p>From cow to table, the process neat, <br> Cheese, a delight, a tasty feat.</p>
			<img class= img src= https://www.greenbiz.com/sites/default/files/styles/16_9_cropped/public/2022-04/beef%20cow_0.jpg?itok=d1kuXOYA>
		</section>

		<section class = yellow>
			<p>From cow to table, the process neat, <br> Cheese, a delight, a tasty feat.</p>
			<img class= img src= https://www.greenbiz.com/sites/default/files/styles/16_9_cropped/public/2022-04/beef%20cow_0.jpg?itok=d1kuXOYA>
		</section>

		<section class = green>
			<p>From cow to table, the process neat, <br> Cheese, a delight, a tasty feat.</p>
			<img class= img src= https://www.greenbiz.com/sites/default/files/styles/16_9_cropped/public/2022-04/beef%20cow_0.jpg?itok=d1kuXOYA>
		</section>

		<section class = blue>
			<p>From cow to table, the process neat, <br> Cheese, a delight, a tasty feat.</p>
			<img class= img src= https://www.greenbiz.com/sites/default/files/styles/16_9_cropped/public/2022-04/beef%20cow_0.jpg?itok=d1kuXOYA>
		</section>

		<section class = purple>
			<p>From cow to table, the process neat, <br> Cheese, a delight, a tasty feat.</p>
			<img class= img src= https://www.greenbiz.com/sites/default/files/styles/16_9_cropped/public/2022-04/beef%20cow_0.jpg?itok=d1kuXOYA>
		</section>
	</body>
</html>