<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>

    <section class = orange>
        <h1 class="title">Sign Up</h1>
    </section>

    <div class="spacer background1"></div>

    <section class = green>
        <div class="container">
          <div class="text"> Sign Up To Mozare//a </div>
          <form method="post" action="/signup">

             <div class="form-row">
                <div class="input-data">
                   <input type="text" name="username" required>
                   <div class="underline"></div>
                   <label for="">UserName</label>
                </div>

                <div class="input-data">
                   <input type="text" name="fav_cheese" required>
                   <div class="underline"></div>
                   <label for="">Favorite Cheese</label>
                </div>
             </div>


             <div class="form-row">
                <div class="input-data">
                   <!-- <input type="text" required> -->
                   <input type="email"  name="email" required>
                   <div class="underline"></div>
                   <label for="">Email Address</label>
                </div>

                <div class="input-data">
                   <input type="password" name="password" minlength="6" required>
                   <div class="underline"></div>
                   <label for="">Password</label>
                </div>
             </div>

                <div class="form-row submit-btn">
                   <div class="input-data">
                      <div class="inner"></div>
                      <input type="submit" value="submit">
                   </div>
                </div>
          </form>
          </div>
        </section>

        <div class="spacer background2"></div>

      <section class = 'orange'>
        <center>
        <a href="/signin"><button class= 'simple-button'>sign in</button></a>
        <a href="/"><button class='simple-button section_button' >go back</button></a>
    </center>
      </section>

       <div class="spacer background3"></div>
</body>


</html>