/*title*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
/*pra*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
	margin: 0;
	font-family: 'Concert One', cursive;
	color: white;
	background: black;
}


section{
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
	/*min-height: 400px;*/
	padding: 0px 20vw;
}

.orange {
	background-color: #ff8500;
}

.red {
	background-color: #da1e37;
}

.yellow {
	background-color: #ffc857;
}

.green {
	background-color: #a5be00;
}

.purple {
	background-color: #a06cd5;
}

.blue {
	background-color: #00b4d8;
}

.img{
	max-width:450px; 
}

.spacer {
	aspect-ratio: 960/200;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	background-image: url('layered1.svg');
}

.layer2 {
	background-image: url('waves_orange2yellow.svg');
}

.layer3 {
	background-image: url('yellow2green.svg');
}

.layer4 {
	background-image: url('green2blue.svg');
}

.layer5 {
	background-image: url('blue2purple.svg');
}

.layer6 {
	background-image: url('purple2end.svg');
}


.title{
	font-size:11vw;
    text-shadow: 5px 5px 0px #7722e7, 
    10px 10px 0px #8522e3, 
    15px 15px 0px  #9323de, 
    20px 20px 0px #a924d7, 
    25px 25px 0px #c124d0, 
    30px 30px 0px #da25c8;
}


.p_idex{
	font-family: 'Dosis', sans-serif;
	font-size:2.7vw;
  	/*text-shadow: 2px 2px 5px black;*/
}

.section_index{
	padding: 0px 10vw;
}


.section_button{
	margin-left: 9vw;
}

/* Styles for the simple button */
.simple-button {
  padding: 40px 80px;
  background-color: #F5730A;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 4vw;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

/* Hover effect */
.simple-button:hover {
  background-color: #ee6c4d;
}

/* Active state */
.simple-button:active {
  background-color: #871400;
}

/* Optional: Remove outline on focus */
.simple-button:focus {
  outline: none;
}