@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;  
  font-family: 'Dosis', sans-serif;
}
body{
  /*display: flex;*/
  margin: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*padding: 10px;*/
  font-family: 'Poppins', sans-serif;
  background: black;
}

section{
	margin: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
	/*min-height: 400px;*/
	padding: 0px 20vw;
}



.orange {
	background-color: #ff8500;
}

.red {
	background-color: #da1e37;
}

.yellow {
	background-color: #ffc857;
}

.green {
	background-color: #a5be00;
}

.purple {
	background-color: #a06cd5;
}

.blue {
	background-color: #00b4d8;
}


.red1 {
	background-color: #f41c34;
}

.title{
	color: white;
	font-size:9vw;
	font-family: 'Concert One', cursive;
    text-shadow: 5px 5px 0px #7722e7, 
    10px 10px 0px #8522e3, 
    15px 15px 0px  #a924d7, 
    20px 20px 0px #da25c8;
    padding: 0px 13vw;
}

.spacer {
	aspect-ratio: 960/200;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background1 {
	background-image: url('orange2green.svg');
}

.background2 {
	background-image: url('green2orenge.svg');
}

.background3 {
	background-image: url('orange2end.svg');
}

.background4 {
	background-image: url('yellow2blue.svg');
}

.background5 {
	background-image: url('orange2red1.svg');
}

.background6 {
	background-image: url('home_end.svg');
}

.layer1 {
	background-image: url('layered1.svg');
}

.img{
	max-width:450px; 
}

.p_idex{
	font-family: 'Dosis', sans-serif;
	font-size:2vw;
	text-align: center;
	color: white;
  	/*text-shadow: 2px 2px 5px black;*/
}

.section_index{
	padding: 0px 10vw;
}


.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  background: -webkit-linear-gradient(right, #eb5e28, #f27f34, #eb5e28, #f27f34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #eb5e28, #f27f34, #eb5e28, #f27f34);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}


.section_button{
	margin-left: 9vw;
}

/* Styles for the simple button */
.simple-button {
  padding: 40px 80px;
  background-color: #a5be00;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 3vw;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

/* Hover effect */
.simple-button:hover {
  background-color: #ee6c4d;
}

/* Active state */
.simple-button:active {
  background-color: #871400;
}

/* Optional: Remove outline on focus */
.simple-button:focus {
  outline: none;
}


body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}